
<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<style type="text/css">
    /* FONTS */
    @media screen {
        @font-face {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
        }

        @font-face {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
        }

        @font-face {
          font-family: 'Lato';
          font-style: italic;
          font-weight: 400;
          src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
        }

        @font-face {
          font-family: 'Lato';
          font-style: italic;
          font-weight: 700;
          src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
        }
    }

    /* CLIENT-SPECIFIC STYLES */
    body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
    img { -ms-interpolation-mode: bicubic; }

    /* RESET STYLES */
    img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
    table { border-collapse: collapse !important; }
    body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }

    /* iOS BLUE LINKS */
    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

    /* MOBILE STYLES */
    @media screen and (max-width:600px){
        h1 {
            font-size: 32px !important;
            line-height: 32px !important;
        }
    }

    /* ANDROID CENTER FIX */
    div[style*="margin: 16px 0;"] { margin: 0 !important; }
</style>
</head>
<body style="background-color: #fff; margin: 0 !important; padding: 0 !important;">
 
  <div style="background:#fff">
     <!--<p style="font-weight:900;font-size:15px;font-family:arial;padding-left:5%">Onboarded Successfully...</p>-->
       <div style="width:80%;margin:auto;padding:40px 0px;background:#f3f2f0">
            
           <div style="width:60%;margin:0px auto;background:white;padding:40px 20px;">
               
            <img src="https://fidelituscorpmanagebase.com/images/new_fidelitus_logo.png" style="width:90px;height:30px;" />   
           <p style="color:black;padding:5px;margin-top:40px;font-family:Arial;font-weight:400;font-size:12px;line-height:1rem;letter-spacing: 0.6px;text-align:center;">We are happy to see you in Fidelitus Mysore family.</p>
           
           <div>
               <p style="font-weight:800;text-align:center;font-size:13px;width:100%;letter-spacing: 0.6px;font-family:Arial;color:#000">Please Use this Credentials below for App access.</p>
               
               <p style="font-size:12px;width:100%;font-family:Arial;margin-bottom:0px;padding-bottom:0px;text-align:center"><span style="color:#222">Employee ID : {{id}}</span></p>
               <p style="font-size:12px;width:100%;font-family:Arial;margin-bottom:0px;padding-bottom:0px;text-align:center;margin-top:6px"><span style="color:#222;padding:0px">Password  :  {{password}}</span></p>
           </div>
           <div style ="margin-top:15px;margin-left:49%">
<a href="https://fidelitusmysore.com/"><img src = "https://fidecrmfiles.s3.amazonaws.com/chrome.png" style = "width:30px;padding-right:10px"></a>

           </div>
           
           
           
           
       </div>
 </div>


</body>
</html>
